@use "../../main.scss";
@use "../../theme.scss";

.attachment-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;
    cursor: pointer;
    text-align: center;
    border: 2px dashed #aaa;
    transition: border-color 0.2s ease-in-out;
    border-radius: 8px;

    &:hover {
        border-color: #ddd;
    }

    .top-text {
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 0.5rem;
    }
    .sub-text {
        font-size: 0.9em;
    }
}
.attachment-list {
    $max-items: 4;
    $padding-total-height: calc(theme.$bubble-spacing / 2 * ($max-items - 1));
    $item-total-height: calc((1lh + theme.$bubble-spacing) * $max-items);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: calc(theme.$bubble-spacing / 2);

    max-height: calc($item-total-height + $padding-total-height);
    overflow-y: auto;
}

.file-chip {
    @include theme.container;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(theme.$bubble-spacing / 2);

    padding: calc(theme.$bubble-spacing / 2) theme.$bubble-spacing;
    cursor: default;
}
a.file-chip {
    @include theme.reactive-container;

    cursor: pointer;
    color: theme.$c-text;
}
