@use "../../main.scss";
@use "../../theme.scss";

:root {
	--ic-large: 2em;
	--ic-normal: 1.5em;
	--ic-small: 1.25em;
	--ic-padding: 0.5em;
}

/* Icons */
@mixin icon($colored: false) {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;

	@if $colored {
		background-image: var(--ic-url);
	} @else {
		background-color: theme.$c-text;
		-webkit-mask-image: var(--ic-url);
		mask-image: var(--ic-url);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: auto;
		mask-size: auto;
		-webkit-mask-position: center;
		mask-position: center;
	}
}

.ic-plus {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/plus.svg");
}
.ic-at {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/at.svg");
}
.ic-hashtag {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/hashtag.svg");
}
.ic-user {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/user-large.svg");
}
.ic-compass {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/compass.svg");
}
.ic-gear {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/gear.svg");
}
.ic-magnifying-glass {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/magnifying-glass.svg");
}
.ic-filter {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/filter.svg");
}
.ic-arrow-up {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/arrow-up.svg");
}
.ic-chevron-left {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/chevron-left.svg");
}
.ic-right-arrow-bracket {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/right-to-bracket.svg");
}
.ic-ellipsis {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/ellipsis.svg");
}
.ic-xmark {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/xmark.svg");
}
.ic-upload {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/arrow-up-from-bracket.svg");
}
.ic-paperclip {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/paperclip.svg");
}
.ic-spinner {
	@include icon(false);

	--ic-url: url("@fa/svgs/solid/spinner.svg");
}
.ic-blue-dot {
	@include icon(true);

	--ic-url: url("/assets/dot/blue.svg");
}
.ic-gray-dot {
	@include icon(true);

	--ic-url: url("/assets/dot/gray.svg");
}
.ic-green-dot {
	@include icon(true);

	--ic-url: url("/assets/dot/green.svg");
}
.ic-red-dot {
	@include icon(true);

	--ic-url: url("/assets/dot/red.svg");
}
.ic-yellow-dot {
	@include icon(true);

	--ic-url: url("/assets/dot/yellow.svg");
}
.ic-logo {
	@include icon(true);

	--ic-url: url("/icon.png");
}

/* Icon sizes */
.ic-large {
	width: var(--ic-large);
	height: var(--ic-large);
}
.ic-normal {
	width: var(--ic-normal);
	height: var(--ic-normal);
}
.ic-small {
	width: var(--ic-small);
	height: var(--ic-small);
}
.ic-text-size {
	width: 1em;
	height: 1em;
}

/* Icon container sizes */
.ic-large-container {
	--ic-container-size: var(--ic-large);
}
.ic-normal-container {
	--ic-container-size: var(--ic-normal);
}
.ic-small-container {
	--ic-container-size: var(--ic-small);
}
.ic-text-size-container {
	--ic-container-size: 1lh;
}

/* Icon container */
.ic-large-container,
.ic-normal-container,
.ic-small-container,
.ic-text-size-container {
	@include theme.reactive-container;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 9999px;
	padding: var(--ic-padding);

	width: calc(var(--ic-container-size) + var(--ic-padding) * 2);
	height: calc(var(--ic-container-size) + var(--ic-padding) * 2);
	cursor: pointer;

	&.ic-inset {
		margin: -8px;
	}
}
