@use "../../main.scss";
@use "../../theme.scss";

#navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: theme.$bubble-spacing;

    position: relative;

    /* Desktop design */
    @media screen and (min-width: theme.$mobile-threshold) {
        flex-direction: column;
        justify-content: flex-start;
        gap: calc(theme.$bubble-spacing / 2);
    }

    & > .nav-item {
        @include theme.reactive-container;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        z-index: 1;
        flex: 1;
        padding: calc(theme.$bubble-spacing / 2) theme.$bubble-spacing;
        cursor: pointer;

        /* Desktop design */
        @media screen and (min-width: theme.$mobile-threshold) {
            justify-content: flex-start;
            flex: 0;
        }

        > .nav-icon {
            width: var(--ic-normal);
            height: var(--ic-normal);
            background-color: theme.$c-text-secondary;
            transition: background-color 0.2s ease-in-out;

            /* Desktop design */
            @media screen and (min-width: theme.$mobile-threshold) {
                width: var(--ic-small);
                height: var(--ic-small);
                background-color: theme.$c-text;
            }
        }
        > .nav-text {
            font-size: 0.75rem;
            color: theme.$c-text-secondary;
            display: none;
            margin-left: 1ch;
            white-space: nowrap;
            overflow: hidden;

            /* Desktop design */
            @media screen and (min-width: theme.$mobile-threshold) {
                font-size: 0.875rem;
                color: theme.$c-text;
                display: initial;
            }
        }

        &.active,
        &:hover {
            > .nav-icon {
                background-color: theme.$c-text;
            }
            > .nav-text {
                color: theme.$c-text;
            }
        }
        &.active > .nav-text {
            display: initial;
        }
    }
}
