#app {
	/* Room content */
	.content.room {
		gap: calc(var(--bubble-spacing) / 2);

		.message {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}

		.message-header {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1ch;
			width: 100%;
		}

		.message-timestamp {
			font-size: 0.8rem;
			color: #999;
		}

		.message-content {
			width: 100%;
			word-break: break-all;
		}

		.message-body {
			font-size: 1rem;
			line-height: 1.5;
		}

		.message-attachments {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			gap: 1ch;
			width: 100%;

			&:not(:empty) {
				margin-top: 0.25lh;
			}
		}
	}

	/* Room footer */
	.footer.room {
		display: flex;
		align-items: center;
		gap: calc(var(--bubble-spacing) / 2);

		input[name="message-input"] {
			flex: 1;
			height: 100%;
			outline: none;
		}
	}

	/* Room info header */
	.header.room-info {
		gap: calc(var(--bubble-spacing) / 2);

		.tab {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			border-radius: 9999px;
			padding: calc(var(--bubble-spacing) / 2) var(--bubble-spacing);
			cursor: pointer;

			&.active,
			&:hover {
				background-color: var(--hover-color);
			}
			&:active {
				background-color: var(--active-color);
			}

			.tab-name {
				margin-left: 1ch;
			}
		}
	}

	/* Room info content */
	.content.room-info {
		.info-container {
			flex: 1;

			.members-list {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: flex-start;
				gap: calc(var(--bubble-spacing) / 2);
			}
		}
	}
}

.user-tag {
	font-size: 1rem;
	font-weight: bold;
	color: #000;

	&.offline {
		opacity: 0.5;
	}
}

.user-chip {
	display: flex;
	align-items: center;
	gap: calc(var(--bubble-spacing) / 2);

	border-radius: 9999px;
	padding: calc(var(--bubble-spacing) / 2);
	background-color: var(--hover-color);
	cursor: pointer;

	&:active {
		background-color: var(--active-color);
	}
}
