#view-wrapper {
	/* Room header */
	.header.room {
		.label {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			gap: 16px;
		}
		.title {
			font-size: 1.5rem;
		}
		.description {
			font-size: 0.8rem;
			color: var(--secondary-text-color);
		}
	}

	/* Room content */
	.content.room {
		gap: 8px;

		.message {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}

		.message-header {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1ch;
			width: 100%;
		}

		.message-timestamp {
			font-size: 0.8rem;
			color: #999;
		}

		.message-content {
			width: 100%;
			word-break: break-all;
		}

		.message-body {
			font-size: 1rem;
			line-height: 1.5;
		}

		.message-attachments {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
		}

		.message-attachment {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			margin-right: 0.5rem;
			border: 1px solid #ddd;
			border-radius: 5px;
		}
	}

	/* Room footer */
	.footer.room {
		display: flex;
		align-items: center;
		gap: calc(var(--bubble-padding) / 2);
		padding: calc(var(--bubble-padding) / 2);

		input[name="message-input"] {
			flex: 1;
			padding: 6px;
			border-radius: 8px;
			height: 100%;
			outline: none;
		}
	}

	/* Room info header */
	.header.room-info {
		gap: calc(var(--bubble-padding) / 2);

		.tab {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			// flex: 1;
			border-radius: 9999px;
			padding: calc(var(--bubble-padding) / 2);
			cursor: pointer;

			&.active,
			&:hover {
				background-color: var(--hover-color);
			}
			&:active {
				background-color: var(--active-color);
			}

			.tab-name {
				margin-left: 1ch;
			}
		}
	}

	/* Room info content */
	.content.room-info {
		.info-container {
			flex: 1;

			.members-list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: calc(var(--bubble-padding) / 2);
			}
		}
	}

	/* Hide navbar on mobile */
	@media screen and (max-width: $mobile-threshold) {
		#view-wrapper:not(.hidden) ~ #navbar {
			display: none;
		}
	}
}

.user-tag {
	font-size: 1rem;
	font-weight: bold;
	color: #000;

	&.offline {
		opacity: 0.5;
	}
}

.user-chip {
	display: flex;
	align-items: center;
	gap: calc(var(--bubble-padding) / 2);

	border-radius: 9999px;
	padding: calc(var(--bubble-padding) / 2);
	background-color: var(--hover-color);
	cursor: pointer;

	&:active {
		background-color: var(--active-color);
	}
}
