@use "../../main.scss";
@use "../../theme.scss";
@use "icons.scss";
@use "room.scss";
@use "navbar.scss";
@use "modal.scss";
@use "attachments.scss";
@use "layout.scss";
@use "loading.scss";

html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	overflow: auto;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

#root {
	width: 100%;
	min-height: 100%;
}

.horizontal-scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.channel-tab {
	@include theme.reactive-container;

	display: flex;
	gap: 0.5ch;
	align-items: center;
	cursor: pointer;
	padding: calc(theme.$bubble-spacing / 2);
	border-radius: 9999px;
}

/* Animations */
.ring {
	animation: ring 2s ease infinite;

	--percentage: 0%;

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: transparent;
		background-image: conic-gradient(
			theme.$c-secondary,
			theme.$c-secondary var(--percentage),
			transparent var(--percentage)
		);
		z-index: -100;
		border-radius: 21.5px;
	}
}
@keyframes ring {
	30% {
		transform: rotate(0deg);
	}
	40%,
	60% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
	70% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
