body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 48px 36px;
    border: 1px solid rgba(127, 127, 127, 0.2);
    min-width: 260px;
    border-radius: 8px;
    background-color: var(--container-color);
    box-shadow: rgba(127, 127, 127, 0.05) 0px 0px 20px 10px;
}

.step-indicator {
    align-self: center;

    color: var(--secondary-text-color);
    margin: 0px 0px 4px 0px;
}
.header {
    align-self: center;
    
    font-size: 30px;
    margin: 0px 0px 16px;
}

#error-message {
    margin: 0px 0px 10px;
    font-size: 12px;
    text-align: center;
    color: var(--warning-color);
}
#error-message:empty {
    display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
}
.field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}
.field-group.stretch > *:first-child {
    flex: 1;
}
.field-label {
    font-size: 14px;
    font-weight: 700;
    margin: 0px 0px 4px 0px;
}

#step-one, #step-two {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#previous-step {
    align-self: flex-start;
}
#next-step {
    align-self: flex-end;
}
#submit {
    align-self: flex-end;
}

#homeserver, #username, #password, #public-key, #private-key {
    padding: 6px;
    font-size: 17px;
    padding: 10px 12px;
    border-radius: 8px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}
#public-key, #private-key {
    resize: none;
}
#private-key {
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
#private-key:not(:focus):not(:placeholder-shown) {
    color: transparent;
    text-shadow: 0px 0px 8px var(--text-color);
}

#username, #public-key {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}
#password, #private-key {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#generate-key-pair.highlight:not(:hover) {
    border-color: var(--secondary-color);
}
