@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@theme {
	--color-primary: #5841f7;
	--color-primary-muted: #7c7dff;
	--color-secondary: #f74185;
	--color-warning: #d93025;
	--color-valid: #35c76d;

	/* Text */
	--color-text: #0e0d11;
	--color-text-dark: #ffffff;
	--color-text-secondary: #474455;
	--color-text-secondary-dark: #bbbbc3;

	/* Background */
	--color-background: hsl(250, 75%, 91%);
	--color-background-dark: hsl(250, 25%, 9%);

	/* Containers */
	--color-container: hsla(250, 60%, 83%, 60%);
	--color-container-dark: hsla(250, 10%, 17%, 60%);

	--color-container-hover: hsla(250, 67%, 73%, 60%);
	--color-container-hover: hsla(250, 17%, 27%, 60%);

	--color-container-active: hsla(250, 74%, 68%, 60%);
	--color-container-active-dark: hsla(250, 24%, 32%, 60%);

	/* --color-container-dark: hsla(250, 77%, 94%, 60%);
	--color-container-dark-dark: hsla(250, 27%, 6%, 60%); */

	/* --color-container-dark-hover: hsla(250, 75%, 91%, 60%);
	--color-container-dark-hover-dark: hsla(250, 25%, 9%, 60%); */

	/* --color-container-dark-active: hsla(250, 81%, 87%, 60%);
	--color-container-dark-active-dark: hsla(250, 31%, 13%, 60%); */

	/* Borders */
	--color-border: hsla(250, 75%, 2%, 20%);
	--color-border-dark: hsla(250, 75%, 98%, 20%);
	--color-border-hover: var(--color-primary-muted);

	/* Popover */
	--color-popover: hsl(252, 20%, 7%);

	/* Fonts */
	--font-title: "Montserrat", sans-serif;
	--font-display: "Poppins", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
