@use "theme.scss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap");
@import url("https://debutter.dev/x/css/simple.css");
@import "tippy.js/dist/tippy.css";

html,
body {
	height: 100vh;
	margin: 0px;
}
body {
	color-scheme: dark light;
	background-color: theme.$c-bg;
	color: theme.$c-text;
	letter-spacing: 0.25px;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

a {
	color: theme.$c-primary;
	text-decoration: inherit;
}
a:hover {
	text-decoration: underline;
}

.flex-spacer {
	flex: 1;
}

/* Tippy styles; NOTE: This is not the correct way to do this but it works */
.tippy-box {
	background-color: theme.$c-popover;
}
.tippy-arrow {
	color: theme.$c-popover;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 100%, 0.2);
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	border-radius: 4px;
}

/* Input styles */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	@include theme.reactive-container(true);

	color: theme.$c-text;
	outline: none;
	padding: calc(theme.$bubble-spacing * 0.75) theme.$bubble-spacing;
	border-radius: calc(theme.$bubble-roundness / 2);

	&:invalid {
		border-color: theme.$c-warning;
		border-style: dashed;

		&:focus {
			border-style: solid;
		}
	}
}
input:disabled {
	cursor: not-allowed;
}
button,
a.button {
	@include theme.reactive-container;

	justify-content: center;

	cursor: pointer;
	padding: calc(theme.$bubble-spacing * 0.75) theme.$bubble-spacing;
	color: theme.$c-text;
	font-size: 0.875rem;
	outline: none;

	&.highlight {
		border-color: theme.$c-secondary;
	}
}
a.button {
	text-decoration: none;
}
select {
	@include theme.reactive-container(true);

	padding: calc(theme.$bubble-spacing * 0.75) theme.$bubble-spacing;
	outline: none;
	cursor: pointer;
}
option {
	background-color: theme.$c-container;
	color: theme.$c-text;
}
